<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141655814654-if45c7pldmnsa2jbejmuv3fgio0u6agh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141655814654-if45c7pldmnsa2jbejmuv3fgio0u6agh</string>
	<key>API_KEY</key>
	<string>AIzaSyAmSb0wPxStYwwMBMi7FDSuXet1QSQgyNA</string>
	<key>GCM_SENDER_ID</key>
	<string>141655814654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.restaurante</string>
	<key>PROJECT_ID</key>
	<string>foodly-project</string>
	<key>STORAGE_BUCKET</key>
	<string>foodly-project.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141655814654:ios:539a91eb8eeb1ac8d550af</string>
</dict>
</plist>